body {
	margin: 0;
	background-color: black;
	overflow: hidden;
}

@font-face {
	font-family: 'pokemon';
	src: url('pokemon-gb.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

.unselectable {
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#app {
	font-family: 'pokemon';
	margin : 0px;
	width: 100%;
	height: 100%;
	overflow : hidden;
	background-color: black;
	border-radius: 2px;
	position: relative;
}

#processing-canvas {
	visibility: hidden;
}

#pokemon {
	z-index : 5;
	top : -25px;
	margin-left: 25%;
	cursor: pointer;
}

#stripe_wrapper {
	position: absolute;
	left: 0;
	z-index: 3;
	height: 100%;
	width: 100%;
}

.stripe {
	width: 100px;
	height: 100%;
	visibility: hidden;
	float: left;
	color: transparent;
	position: relative;
	font-size: 15px;
}

.stripe:hover {
	color: rgba(0, 0, 0, .45);
}

.box {
	width: 33.3333%;
	height: 33.3333%;
	display: block;
	color: rgba(0, 0, 0, .45);
	float: left;
	visibility: hidden;
	position: relative;
}

.next_color {
	width: 20px;
	height: 20px;
	opacity: .3;
	cursor: pointer;
	left: 2;
	bottom: 0;
	position: absolute;
	background-image: url('images/next.png');
}

#color_graph, #pokemon {
	position : absolute;
	left : 0px;
}

#color_graph {
	z-index: 4;
	top : 0px;
	height : 100%;
}

.bar {
	width : 0px;
	height : 0px;
	font-size: 20px;
	color: transparent;
	cursor: pointer;
}

.bar:hover {
	color: rgba(0, 0, 0, 0.7);
}

#search_box img, input {
	height : 50px;
}

#input_container {
	top: 0;
	right: 0;
	margin: 10px;
	width: 390px;
	max-width: 95vw;
	z-index : 10;
	position : absolute;
}

#search_box {
	padding : 5px;
	display: none;
}

input {
	width : 100%;
	font-size: 28px;
	border : 4px solid;
	padding : 10px 5px 0px 5px;
	outline : none;
	display : inline;
	height: 52px;
	line-height: 52px;
	font-family: 'pokemon';
}

#information {
	text-align: right;
	font: 'pokemon';
	padding: 4px;
}

#information a {
	text-decoration: none;
	color: black;
}

#information a:hover {
	text-decoration: none;
	color: #888;
}

.left, .right {
	width : 25px;
}

#buttons {
	padding : 5px;
	display : none;
}


/*Fullscreen mode */

body.full-screen {
	margin: 0;
}

body.full-screen #color_graph, 
body.full-screen.bars #input_container,
body.full-screen.boxes #information,
body.full-screen.boxes #search_button,
body.full-screen.boxes #stripe_wrapper {
	display: none;
}

body.full-screen.boxes #input_container {
	left: calc(50% - 205px);
	top: 50px;
}



#button_container {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 5px;
	z-index: 10;
}

#button_container span {
	clear: both;
	float: right;
	font-family: 'pokemon', monospace;
	font-size: 6pt;
	margin-top: 3px;
	color: rgba(0,0,0,0.5);
}

.display_button {
	cursor: pointer;
	width: 50px;
	height: 50px;
	float: right;
	background: url('images/icons.png?3');
	opacity: 0.5;
}

.display_button:hover {
	opacity: 0.7;
}

#main_button {
	background-position: 0px 0px;
}

#bars_button {
	background-position: 100px 0px;
}

#boxes_button {
	background-position: 50px 0px;
}

/* pls help me sass ;_; */

body.full-screen #pokemon {
	padding-left: 33%;
	z-index: 0;
	margin: 0px
}

body.full-screen.bars .stripe, body.full-screen.boxes .box {
	visibility: visible;
}

body.full-screen.boxes #pokemon {
	visibility: hidden;
}


img:hover {
	cursor : hand;
}

@media (max-width: 400px) {
	#input-container {
		width: 30vw;
		height: auto;
	}

	#pokemon {
		margin-left: -25%;
		margin-top: 25%;
	}

	#bars_button {
		display: none;
	}

	.bar {
		width: 50vw;
	}

	body.full-screen.boxes #input_container {
		margin: 10px;
		left: 0;
		width: calc(100% - 20px);
	}
}